body {
    background-color: #EEEEEE;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#homeTitle {
    color:black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}